.header {
    position: relative;

    .image {
        img {
            width: 100%;
            height: 5rem;
            object-fit: cover;
            filter: blur(2px);
        }
    }

    .content {
        position: absolute;
        top: 50%;
        left: 25%;
        right: 25%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        gap: 5rem;

        h4 {
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

}
